<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <header>
        <h1>Node: Workshop 1</h1>
    </header>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/11') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->
                <p><% for (const x in homer) {
                    return `${homer[x]}`;
                }
                %>
                </p>
                
            </div>
        </div>
    </div>
</body>